<div class="modal fade" id="exampleModal" #exampleModal tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Görev</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <div>
            <label for="1">Başlık</label>
            <input type="text" class="form-control" placeholder="Başlık giriniz" id="1" #title  [(ngModel)]="dutyRequest.title">
          </div>
          <div>
            <label for="2">Açıklama</label>
            <input type="text" class="form-control" placeholder="Açıklama giriniz" id="2" #description [(ngModel)]="dutyRequest.description">
          </div>
          <div>
            <label for="3">Son Tarih</label>
            <input type="date" class="form-control" #lastDate [(ngModel)]="dutyRequest.lastDate">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="post()" data-bs-dismiss="modal">Save</button>
          </div>
        </div>
    </div>
  </div>
</div>